*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    text-align: center;
}

h1{
    font-size: 10em;
    margin-bottom: 50px;
}

button{
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: hsl(342, 87%, 58%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
}

button:hover{
    background-color: hsl(342, 87%, 48%);
}